openai==1.52.0
python-dotenv==1.0.1
ollama==0.3.3
langchain==0.3.4
langchain-core==0.3.47
langchain-openai==0.2.3
langchain-community==0.3.3
langchain-ollama==0.2.0
langchain-groq==0.3.1
langgraph==0.3.18
langchain-huggingface==0.1.2

# Huggingface
transformers==4.46.0
datasets==3.0.2
tokenizers==0.20.1
torch==2.5.0
accelerate==0.26.0
sentence-transformers==3.2.1